<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider center-text">Playback</div>
      <div class="item item-body">
        <div class="row">
          <button class="button icon ion-play col col-offset-20 col-20" ng-click="sendCommand(887)"></button>
          <button class="button icon ion-pause col col-20" ng-click="sendCommand(888)"></button>
          <button class="button icon ion-stop col col-20" ng-click="sendCommand(890)"></button>
        </div>
        <div class="row">
          <button class="button icon ion-skip-backward col" ng-click="sendCommand(921)"></button>
          <button class="button icon-left ion-chevron-left col" ng-click="sendCommand(894)">Slow</button>
          <button class="button icon-right ion-chevron-right col" ng-click="sendCommand(895)">Fast</button>
          <button class="button icon ion-skip-forward col" ng-click="sendCommand(922)"></button>
        </div>
      </div>
    </div>
    <div class="list card">
     <div class="item item-divider center-text">Volume</div>
      <div class="item item-body">
        <div class="row">
          <button class="button icon ion-plus col col-offset-25 col-25" ng-click="increaseVolume(5)"></button>
          <button class="button icon ion-minus col col-25" ng-click="decreaseVolume(5)"></button>
        </div>
        <div class="item range">
          <i class="icon ion-volume-low"></i>
          <input type="range" name="volume" min="0" max="100" step="1" ng-model="data.volume" ng-change="updateVolume(data.volume)">
          <i class="icon ion-volume-high"></i>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider center-text">Subtitles and Audio</div>
      <div class="item item-body">

      </div>
    </div>
  </ion-content>
</ion-view>
