<ion-view view-title="Controls">
  <ion-content class="padding">

    <div class="row">
      <button class="button icon ion-play col col-offset-20 col-20" ng-click="sendCommand(887)"></button>
      <button class="button icon ion-pause col col-20" ng-click="sendCommand(888)"></button>
      <button class="button icon ion-stop col col-20" ng-click="sendCommand(890)"></button>
    </div>
    <div class="row">
      <button class="button icon ion-skip-backward col" ng-click="sendCommand(921)"></button>
      <button class="button icon-left ion-chevron-left col" ng-click="sendCommand(894)">Slow</button>
      <button class="button icon-right ion-chevron-right col" ng-click="sendCommand(895)">Fast</button>
      <button class="button icon ion-skip-forward col" ng-click="sendCommand(922)"></button>
    </div>

    <button class="button button-block button-royal">Smart Skip</button>
    <div class="item range">
      <i class="icon ion-volume-high" ng-click="decreaseVolume(5)"></i>
      <input type="range" name="volume" min="0" max="100" step="1" ng-model="data.volume" ng-change="updateVolume(data.volume)">
      <i class="icon ion-volume-high" ng-click="increaseVolume(5)"></i>
    </div>
    <div class="list card">
      <div class="item item-divider center-text">Subtitles and Audio</div>
      <div class="item item-body">

      </div>
    </div>
  </ion-content>
</ion-view>