<ion-view view-title="Account">
  <ion-content>
    <div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">IP or Hostname</span>
	    <input type="text" ng-model="setting.ipAddress" placeholder="IP or Hostname">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Port</span>
	    <input type="number" ng-model="setting.port" value="13579" placeholder="Port">
	  </label>
	</div>
  </ion-content>
</ion-view>
