<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon tabs-color-active-positive">
  <!-- Browser Tab -->
  <ion-tab title="Browser" icon-off="ion-ios-folder" icon-on="ion-ios-folder-strong" href="#/tab/browser">
    <ion-nav-view name="tab-browser"></ion-nav-view>
  </ion-tab>

  <!-- Now Playing Tab -->
  <ion-tab title="Now Playing" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse" href="#/tab/nowPlaying">
    <ion-nav-view name="tab-now-playing"></ion-nav-view>
  </ion-tab>

  <!-- Controls Tab -->
  <ion-tab title="Controls" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/controls">
    <ion-nav-view name="tab-controls"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
